<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/cards.css" th:href="@{/styles/cards.css}">
    <script defer src="../../static/scripts/cards.js" th:src="@{/scripts/cards.js}"></script>

    <title>👨‍💻S-Klimas | Cards🚀</title>
    <meta name="description" content="Portfolio Sebastian Klimas">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="/static/favicon/favicon_32.ico" th:href="@{/favicon/favicon_32.ico}" sizes="32x32"/>
    <link rel="icon" href="/static/favicon/favicon_48.ico" th:href="@{/favicon/favicon_48.ico}" sizes="48x48"/>
    <link rel="icon" href="/static/favicon/favicon_96.ico" th:href="@{/favicon/favicon_96.ico}" sizes="96x96"/>
    <link rel="icon" href="/static/favicon/favicon_144.ico" th:href="@{/favicon/favicon_144.ico}" sizes="144x144"/>
</head>
<body>
<div class="parent">
    <div class="cards diamonds">
        <div class="card diamond-01">
            <img src="/static/img/cards/DIAMOND-1.svg" alt="DIAMOND 1" class="card-image">
            <label for="diamond-1" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-1" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-1"/>
            <hr>
        </div>
        <div class="card diamond-02">
            <img src="/static/img/cards/DIAMOND-2.svg" alt="DIAMOND 2" class="card-image">
            <label for="diamond-2" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-2" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-2"/>
            <hr>
        </div>
        <div class="card diamond-03">
            <img src="/static/img/cards/DIAMOND-3.svg" alt="DIAMOND 3" class="card-image">
            <label for="diamond-3" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-3" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-3"/>
            <hr>
        </div>
        <div class="card diamond-04">
            <img src="/static/img/cards/DIAMOND-4.svg" alt="DIAMOND 1" class="card-image">
            <label for="diamond-4" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-4" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-4"/>
            <hr>
        </div>
        <div class="card diamond-05">
            <img src="/static/img/cards/DIAMOND-5.svg" alt="DIAMOND 5" class="card-image">
            <label for="diamond-5" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-5" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-5"/>
            <hr>
        </div>
        <div class="card diamond-06">
            <img src="/static/img/cards/DIAMOND-6.svg" alt="DIAMOND 6" class="card-image">
            <label for="diamond-6" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-6" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-6"/>
            <hr>
        </div>
        <div class="card diamond-07">
            <img src="/static/img/cards/DIAMOND-7.svg" alt="DIAMOND 7" class="card-image">
            <label for="diamond-7" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-7" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-7"/>
            <hr>
        </div>
        <div class="card diamond-08">
            <img src="/static/img/cards/DIAMOND-8.svg" alt="DIAMOND 8" class="card-image">
            <label for="diamond-8" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-8" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-8"/>
            <hr>
        </div>
        <div class="card diamond-09">
            <img src="/static/img/cards/DIAMOND-9.svg" alt="DIAMOND 9" class="card-image">
            <label for="diamond-9" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-9" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-9"/>
            <hr>
        </div>
        <div class="card diamond-10">
            <img src="/static/img/cards/DIAMOND-10.svg" alt="DIAMOND 10" class="card-image">
            <label for="diamond-10" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-10" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-10"/>
            <hr>
        </div>
        <div class="card diamond-11">
            <img src="/static/img/cards/DIAMOND-11.svg" alt="DIAMOND 11" class="card-image">
            <label for="diamond-11" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-11" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-11"/>
            <hr>
        </div>
        <div class="card diamond-12">
            <img src="/static/img/cards/DIAMOND-12.svg" alt="DIAMOND 12" class="card-image">
            <label for="diamond-12" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-12" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-12"/>
            <hr>
        </div>
        <div class="card diamond-13">
            <img src="/static/img/cards/DIAMOND-13.svg" alt="DIAMOND 13" class="card-image">
            <label for="diamond-13" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="diamond-13" type="number" step="1" min="0" max="100" value="1"
                   name="diamond-13"/>
            <hr>
        </div>
    </div>
    <div class="cards hearts">
        <div class="card hearts-01">
            <img src="/static/img/cards/HEART-1.svg" alt="HEART 1" class="card-image">
            <label for="heart-1" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-1" type="number" step="1" min="0" max="100" value="1" name="heart-1"/>
            <hr>
        </div>
        <div class="card hearts-02">
            <img src="/static/img/cards/HEART-2.svg" alt="HEART 2" class="card-image">
            <label for="heart-2" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-2" type="number" step="1" min="0" max="100" value="1" name="heart-2"/>
            <hr>
        </div>
        <div class="card hearts-03">
            <img src="/static/img/cards/HEART-3.svg" alt="HEART 3" class="card-image">
            <label for="heart-3" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-3" type="number" step="1" min="0" max="100" value="1" name="heart-3"/>
            <hr>
        </div>
        <div class="card hearts-04">
            <img src="/static/img/cards/HEART-4.svg" alt="HEART 4" class="card-image">
            <label for="heart-4" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-4" type="number" step="1" min="0" max="100" value="1" name="heart-4"/>
            <hr>
        </div>
        <div class="card hearts-05">
            <img src="/static/img/cards/HEART-5.svg" alt="HEART 5" class="card-image">
            <label for="heart-5" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-5" type="number" step="1" min="0" max="100" value="1" name="heart-5"/>
            <hr>
        </div>
        <div class="card hearts-06">
            <img src="/static/img/cards/HEART-6.svg" alt="HEART 6" class="card-image">
            <label for="heart-6" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-6" type="number" step="1" min="0" max="100" value="1" name="heart-6"/>
            <hr>
        </div>
        <div class="card hearts-07">
            <img src="/static/img/cards/HEART-7.svg" alt="HEART 7" class="card-image">
            <label for="heart-7" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-7" type="number" step="1" min="0" max="100" value="1" name="heart-7"/>
            <hr>
        </div>
        <div class="card hearts-08">
            <img src="/static/img/cards/HEART-8.svg" alt="HEART 8" class="card-image">
            <label for="heart-8" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-8" type="number" step="1" min="0" max="100" value="1" name="heart-8"/>
            <hr>
        </div>
        <div class="card hearts-09">
            <img src="/static/img/cards/HEART-9.svg" alt="HEART 9" class="card-image">
            <label for="heart-9" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-9" type="number" step="1" min="0" max="100" value="1" name="heart-9"/>
            <hr>
        </div>
        <div class="card hearts-10">
            <img src="/static/img/cards/HEART-10.svg" alt="HEART 10" class="card-image">
            <label for="heart-10" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-10" type="number" step="1" min="0" max="100" value="1" name="heart-10"/>
            <hr>
        </div>
        <div class="card hearts-11">
            <img src="/static/img/cards/HEART-11.svg" alt="HEART 11" class="card-image">
            <label for="heart-11" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-11" type="number" step="1" min="0" max="100" value="1" name="heart-11"/>
            <hr>
        </div>
        <div class="card hearts-12">
            <img src="/static/img/cards/HEART-12.svg" alt="HEART 12" class="card-image">
            <label for="heart-12" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-12" type="number" step="1" min="0" max="100" value="1" name="heart-12"/>
            <hr>
        </div>
        <div class="card hearts-13">
            <img src="/static/img/cards/HEART-13.svg" alt="HEART 13" class="card-image">
            <label for="heart-13" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="heart-13" type="number" step="1" min="0" max="100" value="1" name="heart-13"/>
            <hr>
        </div>
    </div>
    <div class="cards clubs">
        <div class="card club-01">
            <img src="/static/img/cards/CLUB-1.svg" alt="CLUB 1" class="card-image">
            <label for="club-1" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-1" type="number" step="1" min="0" max="100" value="1" name="club-1"/>
            <hr>
        </div>
        <div class="card club-02">
            <img src="/static/img/cards/CLUB-2.svg" alt="CLUB 2" class="card-image">
            <label for="club-2" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-2" type="number" step="1" min="0" max="100" value="1" name="club-2"/>
            <hr>
        </div>
        <div class="card club-03">
            <img src="/static/img/cards/CLUB-3.svg" alt="CLUB 3" class="card-image">
            <label for="club-3" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-3" type="number" step="1" min="0" max="100" value="1" name="club-3"/>
            <hr>
        </div>
        <div class="card club-04">
            <img src="/static/img/cards/CLUB-4.svg" alt="CLUB 4" class="card-image">
            <label for="club-4" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-4" type="number" step="1" min="0" max="100" value="1" name="club-4"/>
            <hr>
        </div>
        <div class="card club-05">
            <img src="/static/img/cards/CLUB-5.svg" alt="CLUB 5" class="card-image">
            <label for="club-5" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-5" type="number" step="1" min="0" max="100" value="1" name="club-5"/>
            <hr>
        </div>
        <div class="card club-06">
            <img src="/static/img/cards/CLUB-6.svg" alt="CLUB 6" class="card-image">
            <label for="club-6" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-6" type="number" step="1" min="0" max="100" value="1" name="club-6"/>
            <hr>
        </div>
        <div class="card club-07">
            <img src="/static/img/cards/CLUB-7.svg" alt="CLUB 7" class="card-image">
            <label for="club-7" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-7" type="number" step="1" min="0" max="100" value="1" name="club-7"/>
            <hr>
        </div>
        <div class="card club-08">
            <img src="/static/img/cards/CLUB-8.svg" alt="CLUB 8" class="card-image">
            <label for="club-8" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-8" type="number" step="1" min="0" max="100" value="1" name="club-8"/>
            <hr>
        </div>
        <div class="card club-09">
            <img src="/static/img/cards/CLUB-9.svg" alt="CLUB 9" class="card-image">
            <label for="club-9" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-9" type="number" step="1" min="0" max="100" value="1" name="club-9"/>
            <hr>
        </div>
        <div class="card club-10">
            <img src="/static/img/cards/CLUB-10.svg" alt="CLUB 10" class="card-image">
            <label for="club-10" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-10" type="number" step="1" min="0" max="100" value="1" name="club-10"/>
            <hr>
        </div>
        <div class="card club-11">
            <img src="/static/img/cards/CLUB-11.svg" alt="CLUB 11" class="card-image">
            <label for="club-11" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-11" type="number" step="1" min="0" max="100" value="1" name="club-11"/>
            <hr>
        </div>
        <div class="card club-12">
            <img src="/static/img/cards/CLUB-12.svg" alt="CLUB 12" class="card-image">
            <label for="club-12" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-12" type="number" step="1" min="0" max="100" value="1" name="club-12"/>
            <hr>
        </div>
        <div class="card club-13">
            <img src="/static/img/cards/CLUB-13.svg" alt="CLUB 13" class="card-image">
            <label for="club-13" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="club-13" type="number" step="1" min="0" max="100" value="1" name="club-13"/>
            <hr>
        </div>
    </div>
    <div class="cards spades">
        <div class="card spades-01">
            <img src="/static/img/cards/SPADE-1.svg" alt="SPADE 1" class="card-image">
            <label for="spade-1" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-1" type="number" step="1" min="0" max="100" value="1" name="spade-1"/>
            <hr>
        </div>
        <div class="card spades-02">
            <img src="/static/img/cards/SPADE-2.svg" alt="SPADE 2" class="card-image">
            <label for="spade-2" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-2" type="number" step="1" min="0" max="100" value="1" name="spade-2"/>
            <hr>
        </div>
        <div class="card spades-03">
            <img src="/static/img/cards/SPADE-3.svg" alt="SPADE 3" class="card-image">
            <label for="spade-3" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-3" type="number" step="1" min="0" max="100" value="1" name="spade-3"/>
            <hr>
        </div>
        <div class="card spades-04">
            <img src="/static/img/cards/SPADE-4.svg" alt="SPADE 4" class="card-image">
            <label for="spade-4" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-4" type="number" step="1" min="0" max="100" value="1" name="spade-4"/>
            <hr>
        </div>
        <div class="card spades-05">
            <img src="/static/img/cards/SPADE-5.svg" alt="SPADE 5" class="card-image">
            <label for="spade-5" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-5" type="number" step="1" min="0" max="100" value="1" name="spade-5"/>
            <hr>
        </div>
        <div class="card spades-06">
            <img src="/static/img/cards/SPADE-6.svg" alt="SPADE 6" class="card-image">
            <label for="spade-6" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-6" type="number" step="1" min="0" max="100" value="1" name="spade-6"/>
            <hr>
        </div>
        <div class="card spades-07">
            <img src="/static/img/cards/SPADE-7.svg" alt="SPADE 7" class="card-image">
            <label for="spade-7" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-7" type="number" step="1" min="0" max="100" value="1" name="spade-7"/>
            <hr>
        </div>
        <div class="card spades-08">
            <img src="/static/img/cards/SPADE-8.svg" alt="SPADE 8" class="card-image">
            <label for="spade-8" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-8" type="number" step="1" min="0" max="100" value="1" name="spade-8"/>
            <hr>
        </div>
        <div class="card spades-09">
            <img src="/static/img/cards/SPADE-9.svg" alt="SPADE 9" class="card-image">
            <label for="spade-9" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-9" type="number" step="1" min="0" max="100" value="1" name="spade-9"/>
            <hr>
        </div>
        <div class="card spades-10">
            <img src="/static/img/cards/SPADE-10.svg" alt="SPADE 10" class="card-image">
            <label for="spade-10" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-10" type="number" step="1" min="0" max="100" value="1" name="spade-10"/>
            <hr>
        </div>
        <div class="card spades-11">
            <img src="/static/img/cards/SPADE-11.svg" alt="SPADE 11" class="card-image">
            <label for="spade-11" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-11" type="number" step="1" min="0" max="100" value="1" name="spade-11"/>
            <hr>
        </div>
        <div class="card spades-12">
            <img src="/static/img/cards/SPADE-12.svg" alt="SPADE 12" class="card-image">
            <label for="spade-12" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-12" type="number" step="1" min="0" max="100" value="1" name="spade-12"/>
            <hr>
        </div>
        <div class="card spades-13">
            <img src="/static/img/cards/SPADE-13.svg" alt="SPADE 13" class="card-image">
            <label for="spade-13" class="card-label">
                <a>Q:</a>
            </label>
            <input class="card-input" id="spade-13" type="number" step="1" min="0" max="100" value="1" name="spade-13"/>
            <hr>
        </div>
    </div>
    <div class="playground">
        <div class="playground-cards">
            <div class="playground-rule">Remember to shuffle first</div>
        </div>
        <div class="playground-texts">
            <div class="playground-text playground-prev" onclick="removeLastCardFromPlayground()">← PREVIOUS CARD</div>
<!--            <div class="playground-text playground-name">NAME</div>-->
            <div class="playground-text playground-next" onclick="addCardToPlayground()">NEXT CARD →</div>
        </div>
    </div>
    <div class="menu">
        <button class="menu-button" onclick="shuffle()"><a>SHUFFLE</a></button>
        <button class="menu-button" onclick="reset()"><a>RESET</a></button>
        <div class="menu-stats">
            <a>Cards in deck: </a><a class="count">0</a>
        </div>
    </div>
</div>
</body>
</html>