<!doctype html>
<html class="no-js" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Sebastian Klimas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css" th:href="@{/styles/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playball&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
          rel="stylesheet">

    <meta name="description" content="Portfolio Sebastian Klimas">
</head>

<body class="official-black">
<div class="container-fluid">
    <div class="row page-header">
        <div class="col-1"></div>

        <div class="col-10 col-md-5 page-name-logo">
            <p>Portfolio</p>
        </div>
        <div class="col-12 col-md-5">
            <div class="row page-menu">
                <div class="col">
                    <a href="#" th:href="@{/cv}" target="_blank">
                        <p>CV</p>
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/s-klimas" target="_blank">
                        <p>Github</p>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/in/sebastian-klimas-433354210/" target="_blank">
                        <p>LinkedIn</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#projects">
                        <p>Projekty</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-1"></div>
    </div>
    <div class="row section-1">
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 s1-about">
            <h1 class="s1-about-name">Sebastian Klimas</h1>
            <h3 class="s1-about-profession">Backend Developer</h3>
            <p class="s1-about-description">
                Przez całe życie pasjonowałem się informatyką, a w szczególności programowaniem. Zacząłem naukę w
                technikum informatycznym w Krakowie z zamiarem zdawania rozszerzonej informatyki na maturze. W
                przygotowaniach do niej przez pierwsze 3 lata nauki korzystaliśmy z języka C++, a w ostatni rok
                poznaliśmy także język Java. Po zetknięciu z nowym językiem, szybko opanowałem go. Doszedłem do wniosku,
                że uważam Javę za przyjemniejszy język do programowania i podjąłem decyzję by na ostatni rok zmienić
                język, w którym będę pisał maturę na Javę pomimo większego doświadczenia w C++. Uważam to za dobrą
                decyzję, ponieważ maturę zdałem z wysokim poziomem i dostałem się na wymarzone wtedy studia na
                Politechnice Krakowskiej. W trakcie swojej edukacji poznałem także inne języki takie jak PHP oraz
                Python, które do lepszego zrozumienia porównywałem z Javą oraz elementami w niej zawartymi. Do poznania
                komercyjnej strony programowania także wykorzystałem Javę i wykonałem kursy takie jak Kurs Spring,
                jednak nie wykluczam pracy w innym języku, ponieważ umiem się dostosować, tak jak zrobiłem to w
                start-upie, w którym pisaliśmy stronę internetową z wykorzystaniem PHP oraz frameworka Laravel. W życiu
                prywatnym interesuję się polityką w aspekcie społeczno-gospodarczym, przez co lubię współpracę oraz
                kooperację z innymi. Przez większość swojego życia uważałem się za introwertyka, jednak na przestrzeni
                ostatnich lat, po lepszym poznaniu siebie uważam, że jestem połączeniem jego z ekstrawertykiem.
            </p>
        </div>
        <div class="col-sm-12 col-md-4 s1-about-picture">
            <img src="/static/img/sebastian.jpg" th:src="@{/img/sebastian.jpg}" alt="Sebastian" class="s1-my-picture">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row section-1-to-section-2">
        <div class="col-12"></div>
    </div>
    <div class="row section-2">
        <div class="col-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 s2-header">
                    <p>Umiejętności i kursy</p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-1"></div>
            <div class="col-10 s2-body">
                <div class="row s2-boxes">
                    <div class="col-md-12 col-lg s2-java">
                        <p class="s2-box-header">Programowanie</p>
                        <hr class="s2-box-header-underline">
                        <ul class="lists">
                            <li>Java 8, 12</li>
                            <li>JavaFX</li>
                            <li>Spring</li>
                            <li>JPA standards</li>
                            <li>Hibernate</li>
                            <li>Liquibase</li>
                            <li>Thymeleaf</li>
                            <li>JUnit 5</li>
                            <li>AssertJ</li>
                            <li>Mockito</li>
                            <li>MySQL</li>
                            <li>C++</li>
                            <li>PHP</li>
                            <li>Laravel</li>
                            <li>Python</li>
                            <li>HTML + CSS (with Bootstrap)</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg s2-devtools">
                        <p class="s2-box-header">Narzędzia programistyczne</p>
                        <hr class="s2-box-header-underline">
                        <ul class="lists">
                            <li>IntelliJ</li>
                            <li>PhpStorm</li>
                            <li>PyCharm</li>
                            <li>SceneBuilder</li>
                            <li>GitHub</li>
                            <li>GitLab</li>
                            <li>Docker</li>
                            <li>Mockaroo</li>
                            <li>Postman</li>
                            <li>Mailtrap</li>
                            <li>Sendgrid</li>
                            <li>Jira</li>
                            <li>Firebase</li>
                            <li>ChatGPT</li>
                            <li>Dora AI</li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg s2-courses">
                        <p class="s2-box-header">Kursy i certyfikaty</p>
                        <hr class="s2-box-header-underline">
                        <ul class="lists">
                            <li>Kurs Java <a href="https://javastart.pl/kurs/java">(link)</a></li>
                            <li>Kurs Spring <a href="https://javastart.pl/kurs/spring">(link)</a></li>
                            <li>Kurs Testowanie Jednostkowe <a href="https://javastart.pl/kurs/testowanie-jednostkowe">(link)</a>
                            </li>
                            <li>Certyfikat ECDL z modułów: B1, B2, B3, B4, S1, S2, S3</li>
                            <li>Technik Informatyk - kwalfikacje zawodowe: E.12, E.13 i E.14</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row section-2-to-section-3">
        <div class="col-12"></div>
    </div>
    <div class="row section-3" id="projects">
        <div class="col-12">
            <div class="row">
                <div class="col-12 s3-header">
                    <p>Projekty</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 s3-body">
                <div class="s3-project">
                    <div class="white-line-s3-project"></div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>Portfolio</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Mimo zainteresowania backendem zawsze chciałem mieć własną stronę internetową, gdzie
                                mogę napisać parę zdań o sobie oraz opisać projekty które wykonałem, ponieważ sam kod na
                                portalu GitHub nie zawsze wystarcza. Uważam, że pomimo zainteresowania backendem
                                znajomość, chociaż podstawowego frontu jest pomocna, dlatego projekt ten ma zapoznać
                                mnie z nim bardziej oraz zaprezentować moje umiejętności w deploymencie przy którym
                                wykorzystuje Dockera. Serwer strony napisany jest w Javie w frameworku Spring z
                                wykorzystaniem Thymeleafa.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/Portfolio" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Spring Boot</li>
                                <li>HTML + CSS z Bootstrap</li>
                                <li>Thymeleaf</li>
                                <li>Docker</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>RecipesManager</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Myśl, aby napisać aplikację internetową do przechowywania przepisów kuchennych zrodziła
                                się w mojej głowie, gdy byłem w sklepie spożywczym. Nie mając domowej książki kuchennej
                                pod ręką, potrzebowałem sprawdzić co dokładnie potrzebuję do upieczenia ciasta. Z czasem
                                wykiełkowała ona do pomysłu, aby napisać projekt z wykorzystaniem technologii, które już
                                znam, oraz z tymi z którymi jeszcze nie było dane mi się zetknąć. Projekt oparłem o
                                najlepiej znaną mi Javę oraz framework Spring. Do zarządzania schematami bazy danych
                                wykorzystałem Liquibase, a do mapowania ich w kodzie skorzystałem z frameworku
                                Hibernate. Backend aplikacji połączyłem z frontendem za pomocą Thymeleafa. Do wygodnego
                                pisania strony internetowej skorzystałem z nowego dla mnie Bootstrapa. Na koniec projekt
                                połączyłem z platformą dostarczania wiadomości email (Mailtrap), co wymagało ode mnie
                                zapoznania się z dokumentacją ich API. Projekt napisałem w celu utrwalenia wiedzy i
                                wystawienia się na nowe wyzwania, aby poszerzyć swoje kompetencje.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="#" th:href="@{/projects/recipe-manager}">Czytaj więcej</a>
                            </p>
                            <p>
                                <a href="https://github.com/s-klimas/RecipesManager" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Spring</li>
                                <li>Hibernate</li>
                                <li>Liquibase</li>
                                <li>Mailtrap</li>
                                <li>Thymeleaf</li>
                                <li>HTML, CSS, Bootstrap oraz JavaScript</li>
                                <li>JUnit 5</li>
                                <li>AssertJ</li>
                                <li>Mockito</li>
                                <li>Mockaroo (do generowania danych testowych)</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>MinesweeperServer</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Ta aplikacja to pierwsza część większego projektu, w których chcę zaprezentować m.in.
                                swoje umiejętności z łączeniem się z API. Jest ona serwerem postawionym na springu, z
                                wystawionym 1 endpointem. Na zapytanie GET z parametrami: length, height oraz mines
                                (gdzie wszystkie są intami) zwraca wygenerowaną na ich podstawie mapę do grania w
                                Sapera. Dla zwiększenia ciekawości projektu i zaawansowania go algorytmicznie
                                wykorzystuje w nim tablicę 1-wymiarową, w której kolejne wiersze układają się jeden za
                                drugim. Ponadto w tym projekcie nauczyłem się jak powinno się prawidłowo obsługiwać
                                wyjątki w Springu, za pomocą @ExceptionHandler. Do testów aplikacji wykorzystałem
                                bibliotekę JUnit 5 oraz AssertJ.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/MinesweeperServer" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Spring</li>
                                <li>API</li>
                                <li>AssertJ</li>
                                <li>JUnit 5</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>Java Spring Course Project</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Aplikacja webowa napisana podczas wykonywania kursu Spring. Projekt był wykonywany i
                                rozbudowywany w każdym kolejnym etapie kursu. Nauczył mnie on wykorzystywania wiedzy
                                teoretycznej poznanej na lekcjach w większym projekcie, a nie tylko na odrębnych
                                zadaniach. Dzięki niemu poznałem komercyjną stronę projektów pisanych w Java Spring. W
                                projekcie zetknąłem się z wieloma nowymi dla mnie elementami programowania jak m.in.
                                standard JPA, Hibernate, Liquibase, CrudRepository, API a także elementami Spring
                                Security. Aplikacja, którą napisałem jest serwisem filmowym, w którym możemy logować się
                                do kont z różnymi rolami. Rola ADMIN bądź EDITOR pozwala nam na dodawanie gatunków
                                filmowych a także same filmy. Będąc zwykłym użytkownikiem z rolą USER nasze uprawnienia
                                są ograniczone i nie możemy dostać się do panelu z obsługą serwisu. Jednak zalogowany
                                klient może wciąż oceniać filmy poprzez dawanie im odpowiedniej ilości gwiazdek.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="#" th:href="@{/projects/java-spring-course-project}">Czytaj więcej</a>
                            </p>
                            <p>
                                <a href="https://github.com/s-klimas/java-spring-course-project" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Spring</li>
                                <li>Hibernate</li>
                                <li>Liquibase</li>
                                <li>Bazy danych H2 i MySQL</li>
                                <li>Thymeleaf</li>
                                <li>HTML, CSS oraz JavaScript</li>
                                <li>JUnit 5</li>
                                <li>AssertJ</li>
                                <li>Mockito</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>ChatGPTGuesser</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Każdy z nas grał kiedyś w 20 pytań, chęć odwzorowania tej gry zrodziła się u mnie już
                                dawno temu ze względu na to, że strasznie lubiłem tą grę. Problemem na jaki się
                                zetknąłem przy pierwszych próbach zaimplementowania tej gry w kodzie to
                                nieprzewidywalność użytkownika i jakie pytania może zadać. Jednak, gdy AI zaczęło się
                                rozwijać, a ChatGPT podbił internet zrozumiałem, że ten problem właśnie został
                                rozwiązany. Program wykorzystuje API oprogramowania firmy OpenAI i wysyła zapytania do
                                ich sztucznej inteligencji, z którą możemy podtrzymywać konwersację oraz zagrać w
                                zgadywanie. Jednak sama sztuczna inteligencja nie jest idealna i czasem uniemożliwia
                                grę. Projekt wystawił mnie na kolejne doświadczenie pracowania z dokumentacją techniczną
                                innych aplikacji oraz integrowania swojego oprogramowania z zewnętrznym API.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/ChatGPTGuesser" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>API</li>
                                <li>AI</li>
                                <li>OOP</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>API GitHub</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Projekt API, który korzystający z zewnętrznego API GitHuba. Dostępny mamy tylko jeden
                                endpoint GET /github/{username}, który po wywołaniu łączy się z GitHubem i pobiera z
                                serwera dane na temat repozytoriów użytkownika. Tworzy kolekcję z ich nazw, loginów
                                właścicieli oraz dla każdego brancha jego nazwę oraz SHA ostatniego commita. Wymaga
                                posiadania w headerze requesta własności „Accept” ustawionej na „Application/Json” aby
                                poprawnie działać. W projekcie po raz pierwszy operowałem w Javie z zewnętrznym API oraz
                                jak się z nim łączyć i obsługiwać odpowiedzi. A także było to moje pierwsze komercyjne
                                zetknięcie się z pisaniem własnego API i operowanie wyjątkami. Jednak nie byłem
                                zadowolony z obu tych rzeczy. Dlatego w ramach nauki obsługiwania zewnętrznego API
                                poszerzyłem wiedzę na ten temat i stworzyłem projekt ChatGPTGuesser. Pisanie własnego
                                API i operowanie w nim wyjątków zostawiłem sobie na później i opanowałem ten element w
                                projekcie MinesweeperServer.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/api-github" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Spring</li>
                                <li>API</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>Kraje JavaFX</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Jest to druga odsłona aplikacji edukacyjnej przeze mnie stworzonej do nauki nazw państw.
                                Zdecydowałem się na stworzenie jej, ponieważ nie mogłem znaleźć na internecie gry, która
                                spełniałaby moje oczekiwania względem listy państw. W grze znajdują się państwa uznawane
                                na arenie międzynarodowej, jednak stworzyłem osobną kategorię z państwami, które są
                                tylko częściowo uznawane. Mapa nie jest odzwierciedleniem moich przekonań politycznych.
                                W projekcie skorzystałem z technologii JavaFX aby stworzyć okienkową aplikację. Jako
                                urozmaicenie nauki i próbę zachęty dodałem system punktów zależny od ilości odgadniętych
                                państw oraz czasu rozgrywki. Dla graczy lubiących rywalizację jest także stworzona lista
                                z najlepszą 10, która jest serializowana przed zamknięciem aplikacji by nie tracić
                                wyników przy wyłączeniu aplikacji.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="#" th:href="@{/projects/kraje-javaFX}">Czytaj więcej</a>
                            </p>
                            <p>
                                <a href="https://github.com/s-klimas/Kraje-JavaFX" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>JavaFX</li>
                                <li>SceneBuilder</li>
                                <li>Serializacja</li>
                                <li>OOP</li>
                                <li>HTML + CSS</li>
                                <li>Rekurencja</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>EDI</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Projekt napisany na zaliczenie zajęć na studiach. Naszym zadaniem było napisanie
                                aplikacji korzystającej z API Mockaroo do tworzenia randomowych danych na podstawie
                                szablonu. Po otrzymaniu ich z serwera musieliśmy je przedstawić w przyjazny dla oka
                                sposób. Ostatecznie projekt musiał być uruchomiony za pomocą GitHub Pages. Na koniec
                                mieliśmy rozmowy 1 na 1 z profesorem podczas której tłumaczyliśmy, dlaczego napisaliśmy
                                ją w taki sposób i co odpowiada za co na stronie.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>GitHub Pages</li>
                                <li>Mockaroo</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>Kraje konsola</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Pierwszy projekt związany z nauką nazw państw. Powstał, kiedy zacząłem interesować się
                                mapą świata oraz jakie położenie geologiczne na świecie każe z państwa ma. Lista państw
                                nie jest odzwierciedleniem moich przekonań politycznych, wybrałem państwa powszechnie
                                uznawane na arenie międzynarodowej. Jest to prosta aplikacja konsolowa wykorzystująca
                                elementy Javy, które poznzłem i nauczyłem się na kursie. Do projektu dodałem także
                                system punktów oraz listę najlepszych wyników, która jest serializowana przed
                                zamknięciem aplikacji aby nie tracić wyników przy ponownym uruchomieniu.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/Kraje-konsola" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>OOP</li>
                                <li>Serializacja</li>
                                <li>Rekurencja</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
                <div class="s3-project">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-sm-12 col-md-10 s3-project-title">
                            <p>Java Course Project</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-sm-10 col-md-8 col-lg-4 s3-project-desc">
                            <h5>Opis</h5>
                            <p>
                                Aplikacja napisana w Javie w trakcie wykonywania kursu Java. Projekt rozbudowywany o
                                kolejne elementy w trakcje nauki nowych elementów. Mimo nauki i znajomości Javy
                                zdecydowałem się na wykonanie tego kursu wraz z projektem, ponieważ chciałem jeszcze raz
                                od podstaw ugruntować swoją wiedzę. Dzięki niemu poznałem elementu których w szkole ani
                                na studiach mnie nie nauczono jak np. serializacja, która przydała mi się w innych
                                projektach. Projekt zawiera aplikację do zarządzania biblioteką. Wykorzystuję w nim
                                serializację danych, operowanie na plikach, obsługę wyjątków, strumienie oraz wiele
                                innych aspektów obiektowego programowania.
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-2 col-lg-2 s3-project-links">
                            <p>
                                <a href="https://github.com/s-klimas/Java-course-project" target="_blank"><img
                                        src="/static/img/github/github-mark-white.png"
                                        th:src="@{/img/github/github-mark-white.png}"
                                        alt="Github" class="s3-project-github-logo"></a>
                            </p>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-4 s3-project-tech">
                            <h5>Technologie wykorzystane w projekcie:</h5>
                            <ul class="lists">
                                <li>Java</li>
                                <li>Strumienie</li>
                                <li>Serializacja</li>
                                <li>OOP</li>
                            </ul>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="white-line-s3-project"></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
</body>
</html>
