<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>👨‍💻S-Klimas | Portfolio🚀</title>
    <link rel="stylesheet" href="/static/styles/style2.css">
</head>
<body>
    <div class="nav">
        <div class="nav-right">
            <img class="linkedin-logo" src="/static/img/svg/linkedin-light-logo.svg" alt="linkedin-logo">
            <img class="git-logo" src="/static/img/svg/github-light-logo.svg" alt='github-logo'>
        </div>
        <div class="nav-left">
            <p><a class="text-bold">SEBASTIAN KLIMAS</a> <a class="text-light">&lt;BACKEND DEVELOPER&gt;</a></p>
        </div>
    </div>
</body>
</html>