<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>👨‍💻S-Klimas | Portfolio🚀</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>

    <meta name="description" content="Portfolio Sebastian Klimas">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="/static/favicon/favicon_32.ico" th:href="@{/favicon/favicon_32.ico}" sizes="32x32"/>
    <link rel="icon" href="/static/favicon/favicon_48.ico" th:href="@{/favicon/favicon_48.ico}" sizes="48x48"/>
    <link rel="icon" href="/static/favicon/favicon_96.ico" th:href="@{/favicon/favicon_96.ico}" sizes="96x96"/>
    <link rel="icon" href="/static/favicon/favicon_144.ico" th:href="@{/favicon/favicon_144.ico}" sizes="144x144"/>

</head>
<body>
<div class="header">
    <div class="header-right">
        <div class="linkedin-logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-linkedin-icon lucide-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                    <rect width="4" height="12" x="2" y="9"/>
                    <circle cx="4" cy="4" r="2"/>
                </svg>
            </a>
        </div>
        <div class="git-logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-github-icon lucide-github">
                    <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                    <path d="M9 18c-4.51 2-5-2-7-2"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="header-left">
        <p><a href="#"><a class="header-left-name">SEBASTIAN KLIMAS</a> <a class="header-left-position">&lt;BACKEND
            DEVELOPER&gt;</a></a></p>
    </div>
</div>
<div class="nav">
    <div class="nav-items">
        <a class="nav-item" href="#">
            <div>SKILLS</div>
        </a>
        <a class="nav-item-selected" href="#">
            <div>PROJECTS</div>
        </a>
        <a class="nav-item" href="#">
            <div>ABOUT ME</div>
        </a>
    </div>
</div>
<div class="body">
    <div class="projects-full">
        <div class="project-full" data-link="#toProjects">
            <div class="project-full-header">
                <div class="project-full-title">RECIPES MANAGER</div>
                <div class="project-full-github">
                    <a href="#" class="gold-color">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-github-icon lucide-github">
                            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                            <path d="M9 18c-4.51 2-5-2-7-2"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="project-full-texts">
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What motivated me?</div>
                    <div class="project-full-description-answer">The desire to create an ambitious, representative
                        application.
                    </div>
                </div>
                <div class="project-full-text">The idea to create ‘Recipes Manager’ came to me while searching through a
                    notebook with recipes. I wanted to build something that would allow me to organise this culinary
                    knowledge, and later, <b>in the era of artificial intelligence, I expanded it with AI</b>. This is
                    how the project came about, designed to showcase both my skills in creating and securing REST API
                    applications and my ability to integrate AI solutions with classic backend architecture.
                </div>
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What makes it stand out?</div>
                    <div class="project-full-description-answer">The use of artificial intelligence for processing
                        recipe photos.
                    </div>
                </div>
                <div class="project-full-text">By adding AI features to my project, I wanted to give users the
                    opportunity to talk to a chatbot and interact with the system in this way. Thanks to <b>Spring
                        AI</b>, I was able to introduce three different endpoints: the first, open, for <b>casual
                        conversations</b> about cooking, for everyone; the second, requiring login, which allows the bot
                    to <b>modify data in the database</b>, e.g. add recipes; and the third, the most advanced, <b>allowing
                        users to send a photo of a recipe to a language model, which analyses the content and fills in
                        the fields in the database</b> itself. For this purpose, I also used the Imgscalr library, which
                    takes care of processing and optimising images before sending them to the model.
                </div>
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What does it mean for me?</div>
                    <div class="project-full-description-answer">Proof of my skills as a Java Developer.</div>
                </div>
                <div class="project-full-text">Looking at the project from the user's perspective, Recipes Manager is
                    more than just a recipe database. It is the backend for a platform that introduces intelligent
                    interaction into everyday cooking. It allows you to transfer your <b>grandmother's recipe book</b>
                    into the modern digital world. Every element of this system - from the precise security mechanism to
                    the natural dialogue with AI - has been designed to make the user feel that technology is <b>not
                        getting in their way, but actually making their life easier</b>. This project is therefore not
                    only a <b>demonstration</b> of my programming skills, but also an attempt to show how a modern
                    approach to software engineering can make even something as everyday as cooking an experience
                    supported by artificial intelligence.
                </div>
                <div class="project-full-smaller-tittle">You can find the technical description on GitHub.</div>
            </div>
            <div class="project-full-line"></div>
            <div class="project-full-technologies-box">
                <div class="project-full-smaller-tittle">Technologies used in the project:</div>
                <div class="project-full-technologies project-full-technologies-1">
                    <a>Spring (AI, Web, Security)</a>
                    <a>•</a>
                    <a>AI Tools</a>
                    <a>•</a>
                    <a>Lombok</a>
                    <a>•</a>
                    <a>Mapstruct</a>
                    <a>•</a>
                    <a>Swagger</a>
                </div>
                <div class="project-full-technologies project-full-technologies-2">
                    <a>JPA standards</a>
                    <a>•</a>
                    <a>PostgreSQL</a>
                    <a>•</a>
                    <a>Hibernate</a>
                    <a>•</a>
                    <a>Liquibase</a>
                    <a>•</a>
                    <a>JUnit5</a>
                    <a>•</a>
                    <a>AssertJ</a>
                    <a>•</a>
                    <a>Mockito</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>