<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👨‍💻S-Klimas | Portfolio🚀</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <meta name="description" content="Portfolio Sebastian Klimas">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="/static/favicon/favicon_32.ico" th:href="@{/favicon/favicon_32.ico}" sizes="32x32"/>
    <link rel="icon" href="/static/favicon/favicon_48.ico" th:href="@{/favicon/favicon_48.ico}" sizes="48x48"/>
    <link rel="icon" href="/static/favicon/favicon_96.ico" th:href="@{/favicon/favicon_96.ico}" sizes="96x96"/>
    <link rel="icon" href="/static/favicon/favicon_144.ico" th:href="@{/favicon/favicon_144.ico}" sizes="144x144"/>

</head>
<body>
<div class="header">
    <div class="header-right">
        <div class="linkedin-logo">
            <a href="https://www.linkedin.com/in/sebastian-klimas-433354210/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-linkedin-icon lucide-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                    <rect width="4" height="12" x="2" y="9"/>
                    <circle cx="4" cy="4" r="2"/>
                </svg>
            </a>
        </div>
        <div class="git-logo">
            <a href="https://github.com/s-klimas" target="_blank">
                <svg class="github-logo" width="98" height="96" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="header-left">
        <p><a th:href="@{/}" class="header-left-text header-left-name">SEBASTIAN KLIMAS</a></p> <p><a th:href="@{/}" class="header-left-text header-left-position">&lt;BACKEND
        DEVELOPER&gt;</a></p>
    </div>
</div>
<div class="nav">
    <div class="nav-items">
        <a class="nav-item" href="#" th:href="@{/skills}">
            SKILLS <span class="line"></span>
        </a>
        <a class="nav-item nav-item-selected" href="#" th:href="@{/}">
            PROJECTS <span class="line"></span>
        </a>
        <a class="nav-item" href="#" th:href="@{/about-me}">
            ABOUT ME <span class="line"></span>
        </a>
    </div>
</div>
<div class="body">
    <div class="projects-full">
        <div class="project-full" data-link="/">
            <div class="project-full-header">
                <div class="project-full-title">AI GUESSER</div>
                <div class="project-full-github">
                    <a href="https://github.com/s-klimas/ai-guesser" class="gold-color" target="_blank">
                        <svg class="project-full-github-logo" width="98" height="96" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="project-full-texts">
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What motivated me?</div>
                    <div class="project-full-description-answer">Curiosity about AI and new opportunities it creates.
                    </div>
                </div>
                <div class="project-full-text">The idea to create the AI Guesser project was born out of pure curiosity
                    and fascination with the new era of <b>artificial intelligence</b> that began with the launch of
                    ChatGPT. When the world was just beginning to discover the possibilities of large language models, I
                    was experimenting with them myself, testing their limits and looking for ways to apply this
                    technology in practice. At some point, I felt the need to create <b>something of my own</b>. This is
                    how the first version of the game "20 Questions with ChatGPT" was created, which I called <b>ChatGPTGuesser</b>.
                    Initially, it was a fairly simple implementation based on raw HTTP queries, in which I had to take
                    care of the conversation memory and user context myself. Each message was an object storing the
                    author and content, and the entire conversation history was attached to subsequent queries - a
                    simple solution, but it had to suffice at the time.
                </div>
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What have changed?</div>
                    <div class="project-full-description-answer">New technology opens up new possibilities.</div>
                </div>
                <div class="project-full-text">Over time, when the <b>Spring AI</b> library appeared, I felt that the
                    moment had come to refresh this idea and use new tools that revolutionised the way AI models are
                    integrated with Java applications. This is how the AI Guesser project was born - a <b>modern
                        version</b> of my earlier idea. Thanks to this combination, I was able to create an API that
                    allows you to play ‘20 questions’ with different language models. That is why I created a new
                    project with a different name that fits better, because using <b>Spring AI</b> does not limit me to
                    just one model. The new solution allows for a <b>smooth change of AI models</b> through a simple
                    configuration modification, which greatly facilitates experimentation and system development.
                </div>
                <div class="project-full-description-header">
                    <div class="project-full-description-question">What does this project represent?</div>
                    <div class="project-full-description-answer">That I am not lagging behind, but learning the latest
                        technologies.
                    </div>
                </div>
                <div class="project-full-text">For me, AI Guesser is <b>more than</b> just playing around with a
                    language model - it's the story of my development in the world of AI and programming. Both projects
                    show how I've evolved from simple experiments with ChatGPT to creating professional solutions that
                    integrate artificial intelligence with modern application architecture. Although the game of "20
                    Questions" may seem like a trivial idea, it is actually a <b>testing ground</b> where I learn how to
                    effectively build and develop LLM-based systems. Thanks to this project, I was able to combine my
                    passion for technology with engineering practice, creating an application that not only entertains
                    but also inspires - both me and anyone who wants to see how artificial intelligence can become an
                    integral part of modern software.
                </div>
                <div class="project-full-smaller-tittle"><a class="project-full-smaller-tittle-github" href="https://github.com/s-klimas/ai-guesser" target="_blank">You can find the technical description on GitHub.</a></div>
            </div>
            <div class="project-full-line project-full-line-left"></div>
            <div class="project-full-technologies-box">
                <div class="project-full-smaller-tittle">Technologies used in the project:</div>
                <div class="project-full-technologies project-full-technologies-1">
                    <a>Java</a>
                    <a>•</a>
                    <a>Spring (AI, Web)</a>
                    <a>•</a>
                    <a>Swagger</a>
                </div>
                <div class="project-full-technologies project-full-technologies-2">
                    <a>Lombok</a>
                    <a>•</a>
                    <a>JUnit5</a>
                    <a>•</a>
                    <a>Mockito</a>
                    <a>•</a>
                    <a>AssertJ</a>
                </div>
            </div>
            <div class="project-full-line project-full-line-right"></div>
            <div class="project-full-return">
                <a href="#" th:href="@{/}">Go back to projects.</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a>&copy;  2026 Created by Sebastian Klimas - All Rights Reserved.</a>
</div>
</body>
</html>