<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👨‍💻S-Klimas | Portfolio🚀</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <meta name="description" content="Portfolio Sebastian Klimas">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="/static/favicon/favicon_32.ico" th:href="@{/favicon/favicon_32.ico}" sizes="32x32"/>
    <link rel="icon" href="/static/favicon/favicon_48.ico" th:href="@{/favicon/favicon_48.ico}" sizes="48x48"/>
    <link rel="icon" href="/static/favicon/favicon_96.ico" th:href="@{/favicon/favicon_96.ico}" sizes="96x96"/>
    <link rel="icon" href="/static/favicon/favicon_144.ico" th:href="@{/favicon/favicon_144.ico}" sizes="144x144"/>

</head>
<body>
<div class="header">
    <div class="header-right">
        <div class="linkedin-logo">
            <a href="https://www.linkedin.com/in/sebastian-klimas-433354210/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-linkedin-icon lucide-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                    <rect width="4" height="12" x="2" y="9"/>
                    <circle cx="4" cy="4" r="2"/>
                </svg>
            </a>
        </div>
        <div class="git-logo">
            <a href="https://github.com/s-klimas" target="_blank">
                <svg class="github-logo" width="98" height="96" viewBox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="#24292f"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="header-left">
        <p><a th:href="@{/}" class="header-left-text header-left-name">SEBASTIAN KLIMAS</a></p> <p><a th:href="@{/}" class="header-left-text header-left-position">&lt;BACKEND
        DEVELOPER&gt;</a></p>
    </div>
</div>
<div class="nav">
    <div class="nav-items">
        <a class="nav-item nav-item-selected" href="#" th:href="@{/skills}">
            SKILLS <span class="line"></span>
        </a>
        <a class="nav-item" href="#" th:href="@{/}">
            PROJECTS <span class="line"></span>
        </a>
        <a class="nav-item" href="#" th:href="@{/about-me}">
            ABOUT ME <span class="line"></span>
        </a>
    </div>
</div>
<div class="body">
    <div class="skills-full-box" id="skills">
<!--        <div class="skills-title"><a>TOOLS AND PLATFORMS</a></div>-->
        <div class="skill-body">
            <div class="skill-line">
                <ul>
                    <li class="skill-point skill-point-intellij" onclick="intellij()"><a>IntelliJ</a><img src="/static/img/svg/intellij.svg" height="32" th:src="@{/img/svg/intellij.svg}" alt="intellij"></li>
                    <li class="skill-point skill-point-github" onclick="github()"><a>GitHub</a><img src="/static/img/svg/github-dark.svg" height="32" th:src="@{/img/svg/github-dark.svg}" alt="github"></li>
                    <li class="skill-point skill-point-gitlab" onclick="gitlab()"><a>GitLab</a><img src="/static/img/svg/gitlab.svg" height="32" th:src="@{/img/svg/gitlab.svg}" alt="gitlab"></li>
                    <li class="skill-point skill-point-docker" onclick="docker()"><a>Docker</a><img src="/static/img/svg/docker.svg" height="32" th:src="@{/img/svg/docker.svg}" alt="docker"></li>
                    <li class="skill-point skill-point-postman" onclick="postman()"><a>Postman</a><img src="/static/img/svg/postman.svg" height="32" th:src="@{/img/svg/postman.svg}" alt="postman"></li>
                </ul>
            </div>
            <div class="skill-info">
                <div class="skill-select-info">Choose the skill that interests you</div>
                <div class="skill skill-intellij">
                    <div class="skill-name"><a>IntelliJ</a><img src="/static/img/svg/intellij.svg" height="48" th:src="@{/img/svg/intellij.svg}" alt="intellij"></div>
                    <div class="skill-subnames">The best IDE</div>
                    <div class="line-under-subnames"></div>
                    <div class="skill-description">My primary programming environment is <b>IntelliJ IDEA from JetBrains</b> - a tool that allows me to fully utilize the capabilities of Java and the Spring framework.</div>
                </div>
                <div class="skill skill-github">
                    <div class="skill-name"><a>GitHub</a><img src="/static/img/svg/github-dark.svg" height="48" th:src="@{/img/svg/github-dark.svg}" alt="github"></div>
                    <div class="skill-subnames"></div>
                    <div class="line-under-subnames"></div>
                    <div class="skill-description">I use <b>GitHub</b>, the most popular solution, for version control. I believe it is the right platform for presenting my projects, which are available on it.</div>
                </div>
                <div class="skill skill-gitlab">
                    <div class="skill-name"><a>GitLab</a><img src="/static/img/svg/gitlab.svg" height="48" th:src="@{/img/svg/gitlab.svg}" alt="gitlab"></div>
                    <div class="skill-subnames"></div>
                    <div class="line-under-subnames"></div>
                    <div class="skill-description">I also have experience with <b>GitLab</b>, which I learned about during more complex team projects while working at a start-up.</div>
                </div>
                <div class="skill skill-docker">
                    <div class="skill-name"><a>Docker</a><img src="/static/img/svg/docker.svg" height="48" th:src="@{/img/svg/docker.svg}" alt="docker"></div>
                    <div class="skill-subnames"></div>
                    <div class="line-under-subnames"></div>
                    <div class="skill-description">I use <b>Docker</b> for deployment. The portfolio you are currently viewing was deployed using this technology. Although using a Spring Boot-based server to display static pages may seem excessive, I treated it as a practical exercise covering the full application lifecycle - from development to deployment.</div>
                </div>
                <div class="skill skill-postman">
                    <div class="skill-name"><a>Postman</a><img src="/static/img/svg/postman.svg" height="48" th:src="@{/img/svg/postman.svg}" alt="postman"></div>
                    <div class="skill-subnames"></div>
                    <div class="line-under-subnames"></div>
                    <div class="skill-description">When working with REST API, I use <b>Postman</b>, a tool that allows me to effectively test endpoints, analyze responses, and streamline the interface design process.</div>
                </div>
            </div>
        </div>
        <div class="skill-footer">
            <div class="skill-footer-others">
                <div class="skill-footer-others-name"><a href="#" th:href="@{/skills/java}">Java and frameworks<span class="line"></span></a></div>
                <div class="skill-footer-others-name"><a href="#" th:href="@{/skills/databases}">Databases<span class="line"></span></a></div>
                <div class="skill-footer-others-name active"><a href="#" th:href="@{/skills/tools}">Tools and platforms<span class="line"></span></a></div>
                <div class="skill-footer-others-name"><a href="#" th:href="@{/skills/others}">Others<span class="line"></span></a></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a>&copy;  2026 Created by Sebastian Klimas - All Rights Reserved.</a>
</div>
</body>
</html>