<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>👨‍💻S-Klimas | Portfolio🚀</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>

    <meta name="description" content="Portfolio Sebastian Klimas">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon/favicon.ico" th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="/static/favicon/favicon_32.ico" th:href="@{/favicon/favicon_32.ico}" sizes="32x32"/>
    <link rel="icon" href="/static/favicon/favicon_48.ico" th:href="@{/favicon/favicon_48.ico}" sizes="48x48"/>
    <link rel="icon" href="/static/favicon/favicon_96.ico" th:href="@{/favicon/favicon_96.ico}" sizes="96x96"/>
    <link rel="icon" href="/static/favicon/favicon_144.ico" th:href="@{/favicon/favicon_144.ico}" sizes="144x144"/>

</head>
<body>
<div class="header">
    <div class="header-right">
        <div class="linkedin-logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-linkedin-icon lucide-linkedin">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                    <rect width="4" height="12" x="2" y="9"/>
                    <circle cx="4" cy="4" r="2"/>
                </svg>
            </a>
        </div>
        <div class="git-logo">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="lucide lucide-github-icon lucide-github">
                    <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                    <path d="M9 18c-4.51 2-5-2-7-2"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="header-left">
        <p><a href="#"><a class="header-left-name">SEBASTIAN KLIMAS</a> <a class="header-left-position">&lt;BACKEND
            DEVELOPER&gt;</a></a></p>
    </div>
</div>
<div class="nav">
    <div class="nav-items">
        <a class="nav-item-selected" href="#">
            <div>SKILLS</div>
        </a>
        <a class="nav-item" href="#">
            <div>PROJECTS</div>
        </a>
        <a class="nav-item" href="#">
            <div>ABOUT ME</div>
        </a>
    </div>
</div>
<div class="body">
    <div class="skills-full-box">
        <div class="skills-title">OTHERS</div>
        <div class="line-under-title"></div>
        <div class="skill-line">
            <ul>
                <li class="skill-point skill-point-frontend" onclick="frontend()"><a>Frontend</a></li>
                <li class="skill-point skill-point-figma" onclick="figma()"><a>Figma</a><img
                        src="/static/img/svg/figma.svg" height="32" th:src="@{/img/svg/figma.svg}" alt="figma"></li>
                <li class="skill-point skill-point-php" onclick="php()"><a>PHP & more</a><img
                        src="/static/img/svg/php.svg"
                        height="32" th:src="@{/img/svg/php.svg}" alt="php"></li>
                <li class="skill-point skill-point-python" onclick="python()"><a>Python & more</a><img
                        src="/static/img/svg/python.svg" height="32" th:src="@{/img/svg/python.svg}" alt="python"></li>
            </ul>
        </div>
        <div class="skill-info">
            <div class="skill-select-info">Choose the skill that interests you</div>
            <div class="skill skill-frontend">
                <div class="skill-name"><a>Frontend</a></div>
                <div class="skill-subnames">HTML <img src="/static/img/svg/html.svg" height="36" th:src="@{/img/svg/html.svg}" alt="html">, CSS <img
                        src="/static/img/svg/css.svg" height="36" th:src="@{/img/svg/css.svg}" alt="css">, Bootstrap <img
                        src="/static/img/svg/bootstrap.svg" height="36" th:src="@{/img/svg/bootstrap.svg}" alt="bootstrap">, JS <img
                        src="/static/img/svg/javascript.svg" height="36" th:src="@{/img/svg/javascript.svg}" alt="javascript">
                </div>
                <div class="line-under-subnames"></div>
                <div class="skill-description">While working on my own projects, I also developed front-end skills,
                    using <b>HTML</b>, <b>CSS</b>, and the <b>Bootstrap</b> framework to create responsive user
                    interfaces. I used <b>JavaScript</b> to make the pages interactive. The combination of these
                    technologies allows me to create modern websites, such as this one.
                </div>
            </div>
            <div class="skill skill-figma">
                <div class="skill-name"><a>Figma</a><img src="/static/img/svg/figma.svg" height="48" th:src="@{/img/svg/figma.svg}" alt="figma"></div>
                <div class="skill-subnames"></div>
                <div class="line-under-subnames"></div>
                <div class="skill-description">I designed the new version of my portfolio using <b>Figma</b>. It is a
                    very good tool that allows you to graphically design the appearance of a website, and later, during
                    programming, it has many useful add-ons. I also tried using Figma Make, but I was disappointed with
                    the AI results when generating HTML code, which is why I am writing this page myself.
                </div>
            </div>
            <div class="skill skill-php">
                <div class="skill-name"><a>PHP & more</a></div>
                <div class="skill-subnames">PHP <img src="/static/img/svg/php.svg" height="36" th:src="@{/img/svg/php.svg}" alt="php">, Laravel <img
                        src="/static/img/svg/laravel.svg" height="36" th:src="@{/img/svg/laravel.svg}" alt="laravel">, PhpStorm <img
                        src="/static/img/svg/phpstorm.svg" height="36" th:src="@{/img/svg/phpstorm.svg}" alt="phpstorm"></div>
                <div class="line-under-subnames"></div>
                <div class="skill-description">I have professional experience in software development in a start-up,
                    where I developed applications in <b>PHP</b> using the <b>Laravel</b> framework and the
                    <b>PhpStorm</b> environment. Working in a small team, we created a solution for psychologists by
                    creating a virtual office for them. This enabled them to meet with patients online via our website.
                </div>
            </div>
            <div class="skill skill-python">
                <div class="skill-name"><a>Python & more</a></div>
                <div class="skill-subnames">Python <img src="/static/img/svg/python.svg" height="36" th:src="@{/img/svg/python.svg}" alt="python">,
                    PyCharm <img src="/static/img/svg/pycharm.svg" height="36" th:src="@{/img/svg/pycharm.svg}" alt="pycharm"></div>
                <div class="line-under-subnames"></div>
                <div class="skill-description">While working in the e-commerce industry, I expanded my skills in <b>Python</b>
                    by writing and optimizing automation scripts and implementing an object-oriented product management
                    system. For this project, I chose <b>JetBrains' PyCharm</b> as my IDE.
                </div>
            </div>
        </div>
        <div class="line-under-skills"></div>
        <div class="skill-footer">
            <div class="skill-others">
                <div class="skill-others-name"><a href="#">Java and frameworks</a></div>
                <div class="skill-others-name"><a href="#">Databases</a></div>
                <div class="skill-others-name"><a href="#">Tools and platforms</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>