* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #1B1B1B;
}

.parent {
    display: grid;
    grid-template-columns: 592px 1fr 200px;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0;
}

.left-menu {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 915px 80px;
}

.diamonds {
    grid-area: 1 / 1 / 2 / 2;
}

.hearts {
    grid-area: 1 / 2 / 2 / 3;
}

.spades {
    grid-area: 1 / 3 / 2 / 4;
}

.clubs {
    grid-area: 1 / 4 / 2 / 5;
}

.cheat-sheet {
    grid-area: 2 / 1 / 3 / 5;
}

.playground {
    grid-area: 1 / 2 / 2 / 3;
}

.right-menu {
    grid-area: 1 / 3 / 2 / 4;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 125px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.suits {
    justify-self: center;
    grid-area: 1 / 1 / 2 / 3;
}

.cards-as {
    grid-area: 2 / 1 / 3 / 3;
}

.card-as {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-column-1 {
    grid-area: 3 / 1 / 4 / 2;
}

.cards-column-2 {
    grid-area: 3 / 2 / 4 / 3;
}

.card {
    text-align: center;
    justify-items: center;
}

.card-image {
    height: 100px;
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.2s;
}

.card-image:hover {
    transform: scale(0.95);
}

.card-image:active {
    transform: scale(1);
}

.card-label a {
    color: #D9D9D9;
    font-family: "Quintessential", serif;
    font-weight: 700;
}

.card-input {
    width: 40px;
}

.card-names {
    color: #D9D9D9;
    font-family: "Quintessential", serif;
}

.playground-cards {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-card {
    --rotation: 0deg;

    height: 50vh;
    position: absolute;
    border: 5px outset #B57F02;
    border-radius: 25px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.9) rotate(var(--rotation));
    transition:
            opacity 0.3s ease,
            transform 0.3s ease;
}

.full-card.show {
    opacity: 1;
    transform: scale(1) rotate(var(--rotation));
}

.playground-rule {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: italic;
    opacity: 1;
}

.playground-texts {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.playground-text {
    color: #D9D9D9;
    font-family: "Quintessential", serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.playground-shuffle {
    color: #B57F02;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    transition: 0.2s;
    border: #B57F02 4px outset;
    background: #131313;
}

.playground-shuffle:hover {
    color: #835c02;
    border: #835c02 4px outset;
    background: #070707;
}

.menu-stats {
    color: #D9D9D9;
    font-family: "Quintessential", serif;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.menu-button {
    display: block;
    height: 40px;
    width: 200px;
    background-color: #B57F02;
    border: #31081F 4px outset;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-button:hover {
    background-color: #835c02;
}

.menu-button > a {
    font-family: "Quintessential", serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.menu-words {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-words > p {
    color: #D9D9D9;
    font-family: "Quintessential", serif;

}

.cheat-sheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cheat-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    background-color: #835c02;
    border: #31081F 4px outset;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.cheat-button:hover {
    background-color: #6e4e03;
}

.cheat-button > a {
    font-family: "Quintessential", serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 4px;
}
