* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #1B1B1B;
}

.parent {
    display: grid;
    grid-template-columns: 74px 74px 74px 74px 1fr 200px;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0;
}

.diamonds {
    grid-area: 1 / 1 / 2 / 2;
}

.hearts {
    grid-area: 1 / 2 / 2 / 3;
}

.spades {
    grid-area: 1 / 3 / 2 / 4;
}

.clubs {
    grid-area: 1 / 4 / 2 / 5;
}

.playground {
    grid-area: 1 / 5 / 2 / 8;
}

.menu {
    grid-area: 1 / 8 / 2 / 9;
}

.card {
    transform: scale(0.9);
}

.card > hr {
    margin-top: 5px;
}

.card-image {
    height: 100px;
}

.card-label a {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.card-input {
    width: 40px;
}

.playground-cards {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-card {
    --rotation: 0deg;

    height: 50vh;
    position: absolute;
    border: 2px solid #B57F02;
    border-radius: 25px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.9) rotate(var(--rotation));
    transition:
            opacity 0.3s ease,
            transform 0.3s ease;
}

.full-card.show {
    opacity: 1;
    transform: scale(1) rotate(var(--rotation));
}

.playground-rule {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: italic;
    opacity: 1;
}

.playground-texts {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playground-texts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.playground-text {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.menu-button {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #000000;
    border: 1px outset #D9D9D9;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-button > a {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.menu-stats {
    color: #D9D9D9;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}