:root {
    --Dark-Theme: #1B1B1B;
    --Light-Text: #D9D9D9;
    --Dark-Text: #1F1F1F;
    --Gold: #B57F02;
    --Light-Dark-Text: #5D5D5D;
    --Mustard: #D3CFBA;
}

html, body {
    background-color: var(--Dark-Theme, #1B1B1B);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    flex-shrink: 0;
    background: var(--Dark-Theme, #1B1B1B);
    padding: 25px 50px 30px 50px;
}

.header-right {
    float: right;
}

.header-right > * {
    float: left;
}

.header-left-name {
    color: var(--Light-Text, #D9D9D9);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.header-left-position {
    color: var(--Light-Text, #D9D9D9);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

.git-logo {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: block;
    margin-left: 20px;
    color: var(--Gold, #B57F02);
    cursor: pointer;
}

.linkedin-logo {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: block;
    color: var(--Gold, #B57F02);
    cursor: pointer;
}

.nav {
    flex-shrink: 0;
    background: var(--Dark-Theme, #1B1B1B);
    padding: 25px 50px 30px 50px;
}

.nav-items {
    min-height: 1.8125rem;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
}

.nav-item > div {
    display: inline-block;
}

.nav-item-selected {
    color: var(--Gold, #B57F02);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
}

.nav-item-selected > div {
    display: inline-block;
}

.nav-item {
    color: var(--Light-Dark-Text, #5D5D5D);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.center-title {
    flex-shrink: 0;
    color: var(--Mustard, #D3CFBA);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
    opacity: 0.8;
    text-align: center;
}

.grid {
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    grid-template-rows: 1fr 1rem 1fr;
    row-gap: 4rem;
    transition: all 1s ease;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.label {
    height: 3.65rem;
    flex-shrink: 0;
    color: var(--Mustard, #D3CFBA);
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.label:hover {
    transform: scale(1.1);
}

.label:active {
    transform: scale(1.3);
}

.circle {
    width: 5rem;
    height: 5rem;
    background-color: var(--Mustard, #D3CFBA);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 1s ease;
    flex-shrink: 0;
    transform: rotate(-0.001deg);
}

.circle:hover {
    transform: scale(1.1);
}

.circle:active {
    transform: scale(1.3);
}

.body {
    padding-top: 3rem;
}

.full-box {
    margin: 0 auto;
    width: 80vw;
    min-height: 40rem;
    background-color: var(--Mustard, #D3CFBA);
    border-radius: 10px;
    flex-shrink: 0;
}

.skills-title {
    color: var(--Dark-Text, #1F1F1F);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2rem;
}

.line-under-title {
    float: right;
    width: 80%;
    height: 0.1rem;
    background: var(--Dark-Text, #1F1F1F);
}

.skill-line > * {
    list-style-type: none;
}

.skill-line {
    float: left;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
}

.skill-line > ul > li {
    color: var(--Dark-Text, #1F1F1F);
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    margin-top: 2rem;
}

.skill-line > ul > li > a {
    margin-top: 20px;
}

.skill-line > ul > li:hover {
    transform: scale(1.05);
    transition: all 0.1s ease;
    font-weight: 700;
}

.skill-description {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-select-info {
    color: var(--Dark-Text, #1F1F1F);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}

.skill-name {

}

.skill-subnames {

}

.skill-description {

}

.line-under-skills {
    margin-top: 2rem;
    width: 80%;
    height: 0.15rem;
    background: var(--Dark-Text, #1F1F1F);
}

.skill-footer {
}

.skill-others {
    text-align: center;
}

.skill-others-name {
    display: inline-block;
    color: var(--Dark-Text, #1F1F1F);
    font-family: Inter, sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /*letter-spacing: 0.2rem;*/
    margin: 1rem 2rem;
}

.skill-others-name:hover {
    transition: all 0.2s ease;
    transform: scale(1.1);
}