:root {
    --Dark-Theme: #1B1B1B;
    --Light-Text: #D9D9D9;
    --Gold: #B57F02;
    --Light-Dark-Text: #5D5D5D;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    flex-shrink: 0;
    background: var(--Dark-Theme, #1B1B1B);
    padding: 25px 50px 30px 50px;
}

.header-right {
    float: right;
}

.header-right > * {
    float: left;
}

.header-left-name {
    color: var(--Light-Text, #D9D9D9);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.header-left-position {
    color: var(--Light-Text, #D9D9D9);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.git-logo {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    display: block;
    margin-left: 20px;
    color: var(--Gold, #B57F02);
}

.linkedin-logo {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    display: block;
    color: var(--Gold, #B57F02);
}

.nav {
    flex-shrink: 0;
    background: var(--Dark-Theme, #1B1B1B);
    padding: 25px 50px 30px 50px;
}

.nav-items {
    height: 1.8125rem;
    flex-shrink: 0;
    text-align: center;
}

.nav-item-selected {
    color: var(--Gold, #B57F02);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.nav-item {
    color: var(--Light-Dark-Text, #5D5D5D);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}